
<p>You will be presented with 24 messages. Some of these messages are true and 
others are false.</p>

<p>Your task is to read each message and then click <strong>‘share’ if you believe 
the message to be true or otherwise click ‘discard’</strong>.</p>